* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body {
    background: black;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.5px;
}  

.header {
    height: 60px;
    background: gray;
}

.header .conteudo {
    display: flex;
    justify-content: space-around;
}


.conteudo {
    margin: auto;
    width: 100%;

}

.logo, .icon-menu {
    margin: 5px;
    color: #fff;

}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #275257;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    
}

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;

}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu-link {
    display: block;
    padding: 15px;
    background: #275257;
    text-decoration: none;
    color: white;
}

.menu-link:hover {
    transform: scale(1.05);
}

.mostrar{
    left: 0%;
}























